<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>


    <div class="container">
        <h1>Главная страница</h1>
        <form method="post" onsubmit="check(this); return false;">
            {% csrf_token %}
            {{ form.number }}<br>
            <button id="submit" type="submit" class="btn btn-success" disabled="true">Обработать</button>
            <span>{{ error }}</span>
        </form>
        <div class="alert alert-warning mt-2">
            <h3>{{ number }}</h3>
        </div>
    </div>

<main class="container">
  <div class="bg-light p-5 rounded">
    <h1>Для изменения числа</h1>
<!--    <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>-->
      <a href="http://node-16.fergus.host:30755/api/v1/main/change">http://node-16.fergus.host:30755/api/v1/main/change</a>
      <h1>Для просмотра последнего введённого числа</h1>
      <a href="http://node-16.fergus.host:30755/api/v1/main/number">http://node-16.fergus.host:30755/api/v1/main/number</a>

  </div>
</main>

    <script>
        document.querySelector('#number').onkeyup = function() {
	        if (document.querySelector('#number').value === '') {
		        document.querySelector('#submit').disabled = true;
            } else {
                document.querySelector('#submit').disabled = false;
            }
        }
    </script>

</body>
</html>